<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <title>Elise & Stephen's Chat</title>
  <style>
  body {
    background-color: #F6F6F6;
  }
  .well{
    background: #FCFCFC;
    width: 350px;
    padding-bottom: 10px
}
#form-row {
  margin-left: 5px

}
  #picture {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  #badge {
    color: #C1C1C1;
    margin-top: -10px;
    float: right
  }
  #image-field {
    margin-top: 10px;
  }
  #image-container {
    text-align: right;
  }
  div > #post-image {
    width: auto;
    height: auto;
    max-height: 250px;
    max-width: 350px;
 }
 .btn-button-name, .btn-button-name:link, .btn-button-name:visited {
    background-color: #51C1DB;
    color: #fff;
}
.btn-button-name:active, .btn-button-name:hover {
    background-color: #269eb9;
    color: #fff
}
#login-btn {
  margin-top: 5px;
  border-radius: 4px;
   -webkit-box-shadow: 6px 8px 17px -2px rgba(0,0,0,0.36);
   -moz-box-shadow: 6px 8px 17px -2px rgba(0,0,0,0.36);
   box-shadow: 6px 8px 17px -2px rgba(0,0,0,0.36);
}
#com-text {
  text-align: left;
  position: absolute;
  padding-top: 15px;
  margin-right: 10px;
  margin-left: 2px;

}
li {
    word-break: keep-all;
    overflow-y: auto;
    overflow-x: hidden
}
#com-li {
  min-width: 350px;
  height: auto
}
#vid-search {
  width: 325px;
  display: inline-block;
  position:relative;
  left: 5%
}
#vid-list {
  width: 325px;
  height: 300px;
  display: inline-block;
  position:relative;
  overflow-y: auto;
  overflow-x: hidden;
  left: 5%
}
#li-vid {
  display: inline-block;
  left: -40px;
  width: 325px;
  padding-right: 20px
}
nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar {
  border-radius: 0
}
#emoji-li {
  text-align: center;
  background-color: transparent;
  border-color: transparent;
  height: 300px;
  padding: 5px;
  padding-bottom: 0;
  overflow-y: auto
}
#emoji-span {
  margin: 2px
}
#comment-ul {
  display: block;
  height: 455px;
  overflow-y: auto;
}
  </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">Stephen & Elise's Chat</a>
        </div>
      </div>
    </nav>

<%= yield %>

</body>
</html>
