<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <title>Elise & Stephen's Chat</title>
  <style>
  #picture {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">Stephen & Elise's Chat</a>
        </div>
      </div>
    </nav>

<%= yield %>

</body>
</html>
